header{
  display: flex;
  justify-content: space-between;
}


.otp-btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 15px;
}

.otp-btn.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

btn.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

.signup-btn.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.correct{
  color: #35BD3A;
  background-color: #35BD3A;

}
.wrong{
color: #FF7A7A;
background-color: #FF7A7A;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
